* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}



/* ------------ HEADER ------------*/


header {
  background-color: #fff;
  padding-bottom: 0px;
  width:100%;
  border-bottom: 0.5px solid #c8c3c3;
  display: inline-block;
}

.home-logo {
  display: inline-block;
  background-image:url('./elements/lightwell-logo.svg');
  background-repeat: no-repeat;
  height: 140px;
  width: 240px;
  margin: 0;
  margin-left: 250px;
}


.nav-container{
  float: right;
  z-index: 2;
}

.nav-bar {
  font-family: "Verdana";
  display: inline-block;
  font-size: 14px;
  list-style: none;
  margin-top: 50px;
  margin-right: 280px;
  float: right;
}

.nav-bar li {
  display: inline-block;
  margin-left: 30px;

}

.nav-bar li a {
  color: #404040;
  display: block;
}

/* ---- Drop Down ---- */

.nav-container ul li ul li{
  display: none;
  background-color: #4d4d4d;
  width: 100px;
  height: 30px;

}

/*.nav-container ul li:hover ul li{
  display: inline;

} */


/* ------------ SIDE BAR ----------------*/

section {
  display: block;
}


.sidebar-items {
  float: left;
  display: block;
  font-family: Verdana;
  margin: 0px 0 0 200px;
  padding: 200px 50px 200px 0;
  height: fit-content;
  width: fit-content;
}

.sidebar-items ul li {
  padding-bottom: 5px;
    list-style: none;
}


.sidebar-items ul li a {
  color: #1b1b1b;
}




/* ---------------- STORE BOXES -----------------*/





.sb-container {
  display: inline-grid;
  width: calc(100% - 450px);
  height: 1000px;
  margin-top: 100px;
  margin-left: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;

}


.store-box-1 {
  background-image: url('./elements/lamp4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.store-box-2 {
  background-image: url('./elements/lamp9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.store-box-3 {
  background-image: url('./elements/lamp10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-4 {
  background-image: url('./elements/lamp11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-5 {
  background-image: url('./elements/lamp12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-6 {
  background-image: url('./elements/lamp13.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-7 {
  background-image: url('./elements/lamp14.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-8 {
  background-image: url('./elements/lamp15.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-9 {
  background-image: url('./elements/lamp16.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    transition: all 300ms ease-in-out;
}

.store-box-3:hover{
  z-index: 10;
  opacity: 0.5;
  background-color: #bdbdbd;
}


/* -----$$ Store Box Controls $$---*/

.catalog-name {
  width: fit-content;
  margin: 15px 0 0 10px;
  font-family: Georgia;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 8px #111;
}

.new-tag {
  float: right;
  display: inline-block;
  height: 30px;
  width: 100px;
  background-color: #ffaa60;
}

h6 {
  font-family: Verdana;
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}


/* -----$$$$ Store box Hover------ */




/* -------------------- FOOTER ---------------------*/


/* --- FOOTER text control ---*/


footer {
  display: block;
  background-color: #474747;
  width: 100%;
  margin-top: 200px;
  padding: 50px 0;
}

footer ul li a {
  display: inline-block;
  width: fit-content;
  font-family: Verdana;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}

/* ---- Footer links positioning Control ---*/

.tele-number a {
  list-style: none;
  display: inline-block;
  margin-left: 300px;
}

.footer-links-1{
  list-style: none;
  display: inline-block;
  margin-left: 900px;
}

.footer-links-2{
  list-style: none;
  display: inline-block;
  margin-left: 200px;
}

.footer-links-3{
  list-style: none;
  display: inline-block;
  margin-left: 200px;
}
